@page "/register"
@using AspireApp.Api.Domain.Auth.User
@using AspireApp.Web.ApiClients

@inject RegisterApiClient RegisterApi

<h3>Registrar</h3>

<EditForm Model="@Model" OnValidSubmit="HandleRegister" FormName="registerForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Email:</label>
        <InputText @bind-Value="Model.Email" />
    </div>
    <div>
        <label>Name:</label>
        <InputText @bind-Value="Model.Name" />
    </div>
    <div>
        <label>Surname:</label>
        <InputText @bind-Value="Model.Surname" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="Model.Password" type="password" />
    </div>
    <button type="submit">Registrar</button>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {
    [SupplyParameterFromForm]
    public UserRegister Model { get; set; } = new();

    protected override void OnInitialized() => Model ??= new();

    private string errorMessage = String.Empty;

    private async Task HandleRegister()
    {
        errorMessage = String.Empty;

        try
        {
            var response = await RegisterApi.RegisterAsync(Model);
        }
        catch (Exception ex)
        {
            errorMessage = $"Error al registrar: {ex.Message}";
        }
    }
}
