@page "/access-denied"
@attribute [AllowAnonymous]

<PageTitle>Access denied</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-5 text-center">
        <h1>403</h1>
        <h2 class="h4">Access denied</h2>
        <p class="text-muted">You do not have permission to view this resource.</p>
        <a href="/" class="btn btn-link">Back to home</a>
    </div>
</div>
