@page "/register"

<PageTitle>Register</PageTitle>

<h3>Register</h3>

<EditForm Model="@Model" OnValidSubmit="HandleRegister" FormName="registerForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Email:</label>
        <InputText @bind-Value="Model.Email" />
    </div>
    <div>
        <label>Name:</label>
        <InputText @bind-Value="Model.Name" />
    </div>
    <div>
        <label>Surname:</label>
        <InputText @bind-Value="Model.Surname" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="Model.Password" type="password" />
    </div>
    <button type="submit">Registrar</button>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}